.announcement-card {
  position: absolute;
  top: 77%;
  right: 0;
  transform: translateY(-50%);
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  height: auto;
  margin-right: 25px;
}
.Title{
  text-align: left;
  display: flex;
  align-items: center;
}
.hello-image {
  width: 25px;
  margin-left: 10px;
}
h1 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.boxes-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.announcement-box {
  background-color: #f9f9f9;
  border: 2px solid #ccc; 
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.announcement-box p {
  font-size: 16px;
  color: #555;
  margin: 0;
  line-height: 1.5;
}

.announcement-box p strong {
  color: #0056b3;
}
