.attendance-bargraph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  /* margin: 150px auto 0 auto; */
   /* Center the graph horizontally */
   margin-left:22px;
   margin-top: 80px;
}

.attendance-bargraph h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .attendance-bargraph {
    padding: 15px;
    max-width: 90%; /* Adjust width for smaller screens */
    margin-top: 100px;
  }

  .attendance-bargraph h2 {
    font-size: 20px; /* Slightly smaller heading */
  }
}
