body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50vh;
  margin: 0;
  padding: 20px; 
  width: 10%;
  
}

.calendar-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 17%; 
  height: auto; 
  overflow: hidden;
  text-align: center;
  border: 1px solid #ddd;
  position: absolute; 
  top: 10px;  
  right: 20px; 
}


.calendar-header {
  color: orangered;
  padding: 6px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem; 
}

.nav-btn {
  color: black;
  border: none;
  padding: 6px 8px; 
  cursor: pointer;
  font-size: 0.9rem; 
  border-radius: 3px;
  
  transition: background-color 0.3s ease;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1px;
  padding: 4px; 
  height: calc(100% - 40px); 
}

.day {
  padding: 6px; 
  text-align: center;
  border-radius: 30%; 
  font-size: 0.8rem; 
  font-weight: lighter;
  color: black;
  transition: background-color 0.3s, color 0.3s;
  display: inline-flex; 
  justify-content: center; 
  align-items: center;
  width: 30px; 
  height: 30px;
}

.day.empty {
  background-color: transparent;
}

.day-name {
  color: grey;
  padding: 4px; 
  font-size: 0.8rem; 
  font-weight: lighter;
  pointer-events: none; 
}

.day:hover {
  background-color: orangered;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s, color 0.3s;
}

