.calendar-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 260px; /* Reduced max-width for a smaller size */
  height: auto;
  overflow: hidden;
  text-align: center;
  border: 1px solid #ddd;
  margin: 0 auto;
  padding: 8px;
}

.calendar-header {
  color: orangered;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 0.85rem; /* Reduced font size */
}

.nav-btn {
  color: black;
  border: none;
  padding: 4px 6px;
  cursor: pointer;
  font-size: 0.8rem; /* Reduced font size */
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: #f0f0f0;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px; /* Reduced gap between cells */
  padding: 6px;
}

.day {
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  font-size: 0.75rem; /* Smaller font size */
  font-weight: lighter;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px; /* Reduced width */
  height: 25px; /* Reduced height */
  margin: 0 auto;
  transition: background-color 0.3s ease;
}

.day.empty {
  visibility: hidden;
}

.day.current {
  background-color: #F3D2A1;
  color: white;
  font-weight: bold;
  border-radius: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.day:hover {
  background-color: #f0f0f0;
}
