.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.timetable-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  max-width: 350px;
  width: 100%;
  margin-left: 8px ;
}

.timetable-container h2 {
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.timetable-container ul {
  list-style: none;
  padding: 0;
}

.timetable-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 8px;
}

.timetable-container li:last-child {
  border-bottom: none;
}

.timetable-container li input[type="checkbox"] {
  margin-right: 10px;
  border: 2px solid #ff5733;
  border-radius: 3px;
  width: 14px;
  height: 14px;
}

.timetable-container li input[type="checkbox"]:checked {
  background-color: #ff5733;
}

.timetable-container li span {
  color: #666;
  font-size: 14px;
}