.heading {
  color: #991D20;
  text-align: center;
}

.schedule-container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
  border-top: 5px solid #991D20;
  text-align: center;
}

.header-table, .schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

thead th, .days {
  background-color: rgb(229, 220, 220);
  color: #991D20;
  font-weight: bold;
  text-align: center;
}

td, th {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}
td:empty {
  background-color: white;
}
.schedule-table tbody td {
  padding: 10px;
  text-align: left;
}

.days, td:first-child {
  background-color:rgb(229, 220, 220) ;
  color: #991D20;
  font-weight: bold;
}

.yellow-cell, .dark-yellow-cell, .blue-cell, .dark-blue-cell, 
.purple-cell, .green-cell, .orange-cell, .aqua-cell {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 12px;
}

@media (max-width: 768px) {
  .schedule-container {
    padding: 10px;
  }
  th, td {
    font-size: 12px;
    padding: 8px;
  }
}















