





.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #991D20;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: white;
  transition: all 0.3s ease;
}

.search-bar:hover {
  border-color: #bb3035;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.search-bar input {
  border: none;
  outline: none;
  margin-left: 10px;
  width: 300px;
}

.search-bar input::placeholder {
  color: #991D20;
  font-size: 16px;
}

.search-icon {
  color: #991D20;
}

.nav-images img:hover {
  border-color: #ccc;
}

.notifybtn {
  background: none;
  border: none;
  border-radius: 100%;

  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.notifybtn img {
  width: 50px; /* Increase image size */
  height: 50px; /* Increase image size */
}

.notifybtn:hover {
  background-color: rgba(153, 29, 32, 0.1); /* Light red background on hover */
}

.userImg {
  width: 10% !important;
}

.userName {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.notifybtn, .userImg, .userName {
  padding: 0 20px 0 20px;
}

.nav-images {
  display: flex;
}

.search-bar input::placeholder {
  transition: color 0.3s ease, font-size 0.3s ease;
}

.search-bar:hover input::placeholder {
  font-size: 16px;
}

.search-bar input:focus::placeholder {
  color: transparent;
  font-size: 0;
}

.search-bar input {
  border: none;
  outline: none;
  margin-left: 10px;
  width: 300px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}