.announcement-card {
  position: absolute;
  top: 30%;
  right: 0;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  padding: 25px;
  width: 430px;
  height: auto;
  margin-right: 600px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .announcement-card {
    width: 90%;
    right: 5%;
    top: auto;
    bottom: 20px;
    transform: none; /* Align it for smaller screens */
  }
}

.Title {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .Title {
    font-size: 28px; /* Slightly smaller for smaller screens */
  }
}

.hello-image {
  width: 25px;
  margin-left: 10px;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
}

.boxes-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.announcement-box {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.announcement-box p {
  font-size: 16px;
  color: #555;
  margin: 0;
  line-height: 1.5;
}

.announcement-box p strong {
  color: #0056b3;
}

@media (max-width: 768px) {
  .announcement-box p {
    font-size: 14px;
  }
}
