.card2 {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  width: 100%; /* Take full width of the grid cell */
  max-width: 350px; /* Consistent max-width */
  height: auto; /* Allow height to adjust based on content */
  padding: 20px; /* Adjusted padding */
  text-align: center;
  border: 1px solid #ddd; /* Add a subtle border */
  margin: 0 auto; /* Center the component */
  margin-bottom: 20px; /* Add margin to separate from the next component */
}
.card2 h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  height: 20px;
  margin-bottom: 15px;
}

.bar {
  height: 100%;
  border-radius: 10px;
  text-align: right;
  color: white;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.overall-attendance {
  background-color: #C59BD8;
}

.overall-progress {
  background-color: #A4D8C6;
}

/* Responsive Design */
@media (max-width: 768px) {
  .card2 {
    width: 90%; /* Adjust width for smaller screens */
    padding: 20px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .card2 {
    width: 95%; /* Ensure it takes full width of the grid */
    padding: 15px; /* Adjust padding for very small screens */
  }
}