/* nav.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e1dddd;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .navbar-search {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
  
  .search-button {
    padding: 8px 12px;
    background-color: #991D20;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .navbar-user {
    position: relative;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .dropdown-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-name {
    font-weight: bold;
  }
  
  .dropdown-footer {
    padding: 10px;
  }
  
  .logout-button {
    width: 100%;
    padding: 8px;
    background-color:#991D20 ;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #c82333;
  }
  